:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104, 0.8);
    }

h1{
     border: 5px solid blue;
     width: 200px;
     margin: 60px auto;
    text-align: center;

}
.col-12 {
    width: 96%;
    text-align: center;
    margin: 30px auto;
  }
                            
  .col-11 {
    width: 96%;
    text-align: center;  
    margin: auto;
    padding: auto;

  }

.col-10{
  width: 96%;
  text-align: center;  
  margin: auto;
  padding: auto;
}
.col-9{
  width: 96%;
  text-align: top;  
  margin: auto;
  padding: auto;
}